<div id="proyectos" class="color2 py-6 sm:py-8 lg:py-12 relative">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col overflow-hidden rounded-lg color3 sm:flex-row md:h-80">
      <!-- image - start -->
      <div class="order-first h-48 w-full bg-gray-300 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
        <img src="../../assets/img/ScreenMatch.png" loading="lazy" alt="ScreenMatch" class="h-full w-full object-cover object-center" />
      </div>
      <!-- image - end -->

      <!-- content - start -->
      <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-9/12">
        <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl lg:text-4xl">ScreenMatch</h2>
        <p class="mb-8 max-w-md text-gray-600">ScreenMatch es una aplicación basada en Java que permite buscar series y episodios de un api, obtener información y gestionarla. La aplicación utiliza Spring Boot y Maven, ademas de una base de datos para almacenar la información y consultar.</p>
        <div class="mt-auto">
          <a href="https://github.com/cirolpz/ScreenMatch-ManejoDeSeriesConAPIyBD" class="inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-gray-800 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base">Ver Proyecto</a>
        </div>
      </div>
      <!-- content - end -->
    </div>
  </div>
</div>

<div class="color2 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col overflow-hidden rounded-lg color3 sm:flex-row md:h-80">
      <!-- content - start -->
      <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-9/12">
        <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl lg:text-4xl">Video juego | programa integral </h2>
        <p class="mb-8 max-w-md text-gray-600">Este juego fue desarrollado en Java. Fue creado para un programa para ayudar a niños con capacidades diferentes. El juego intenta enfrentar el defisis de atencion mejorando la concentracion de una manera didactica.</p>
        <div class="mt-auto">
          <a href="https://github.com/cirolpz/Juego-Java-POO-AstroMegaShip" class="inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-gray-800 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base">Ver Proyecto</a>
        </div>
      </div>
      <!-- content - end -->

      <!-- image - start -->
      <div class="order-first h-48 w-full bg-gray-300 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
        <img src="../../assets/img/artromegaship.png" loading="lazy" alt="Video Juego Programa Integral" class="h-full w-full object-cover object-center" />
      </div>
      <!-- image - end -->
    </div>
  </div>
</div>

<div class="color2 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col overflow-hidden rounded-lg color3 sm:flex-row md:h-80">
      <!-- image - start -->
      <div class="order-first h-48 w-full bg-gray-300 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
        <img src="../../assets/img/escuela.png" loading="lazy" alt="Pagina de la Escuela" class="h-full w-full object-cover object-center" />
      </div>
      <!-- image - end -->

      <!-- content - start -->
      <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-9/12">
        <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl lg:text-4xl">Pagina web Tecnica N°2 </h2>
        <p class="mb-8 max-w-md text-gray-600"> Lideré el desarrollo de la pagina web de mi escuela para poder graduarme como técnico informático. Aprendí técnicas para poder llevar a cabo todo el desarrollo de una pagina web trabajando en equipo de manera optima.</p>
        <div class="mt-auto">
          <a href="https://github.com/cirolpz/PaginaWEB-Tecnica2DrReneFavaloro" class="inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-gray-800 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base">Ver Proyecto</a>
        </div>
      </div>
      <!-- content - end -->
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <button class="px-14 py-3 bg-green-500 hover:bg-green-600 text-yellow-300 text-sm font-medium rounded-full">
      Ver más
    </button>
  </div>
</div>