<div id="biografia" class="color1 py-6 sm:py-8 lg:py-32 relative">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 text-yellow-50 flex flex-wrap items-center justify-center">
    <!-- Imagen centrada y circular -->
    <div class="order-first w-48 h-48 mb-8 sm:mb-0 sm:order-none">
      <a href="#" class="group relative flex items-center justify-center">
        <img src="assets/img/ciro.jpg" loading="lazy" alt="Foto de Ciro Lopez" 
          class="w-48 h-48 rounded-full object-cover border-4 border-green-600 shadow-lg transition duration-200 group-hover:scale-110" />
      </a>
    </div>

    <!-- Contenido -->
    <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5 text-center sm:text-left"> 
      <h1 class="mb-4 font-semibold text-yellow-50 md:mb-3 lg:text-lg">CIRO MARTÍN LÓPEZ</h1>
      <h5 class="mb-4 text-2xl font-bold text-yellow-100 md:mb-6 lg:text-3xl">Programador - Técnico Informático - Ciberseguridad</h5>
      <p class="max-w-screen-md text-gray-200 md:text-lg">Soy un programador con muchas ansias de crecer y aportar mis conocimientos. </p>
    </div>
  </div>
  <!-- Clase "punta" al fondo inferior -->
  <div class="punta absolute bottom-0 left-1/2 transform -translate-x-1/2 rotate-180"></div>
</div>