<div class="relative">
    <!-- Menu fixed on top -->
    <app-menu class="fixed-menu"></app-menu>
    
      <app-contact></app-contact>
      <app-biografia></app-biografia>
      <app-proyectos></app-proyectos>
      <div class="color3 grid grid-cols-2 gap-x-14 gap-y-8 md:grid-cols-4 lg:gap-x-8 lg:gap-y-12 relative" style="padding-top: 150px;">
        <app-skill 
          imgSrc="../../assets/img/java.png" 
          altText="JAVA" 
          skillName="JAVA" 
          sizeClass="h-20 w-20 md:h-28 md:w-28">
        </app-skill>
        <app-skill 
          imgSrc="../../assets/img/spring.png" 
          altText="SPRING" 
          skillName="SPRING">
        </app-skill>
        <app-skill 
          imgSrc="../../assets/img/angular.png" 
          altText="ANGULAR" 
          skillName="ANGULAR">
        </app-skill>
        <app-skill 
          imgSrc="../../assets/img/sql.png" 
          altText="SQL" 
          skillName="SQL" 
          sizeClass="h-20 w-20 md:h-28 md:w-28">
        </app-skill>
      </div>
    <div id="education" class="color1 grid grid-cols-2 gap-x-14 gap-y-8 md:grid-cols-4 lg:gap-x-8 lg:gap-y-12" style="padding-top: 50px;"> 
        <h2 class="mb-4 text-center font-bold text-gray-100 md:mb-6 lg:text-3xl">Educacion</h2>  
      </div>
      <div class="color4 py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 xl:gap-8">
            <app-education-item 
              href="https://www.ungs.edu.ar/" 
              imgSrc="../../assets/img/ungs.jpg" 
              altText="UNGS" 
              description="Licenciatura en Sistemas - UNGS">
            </app-education-item>
            <app-education-item 
              href="https://www.facebook.com/tecnica.renefavaloro.5" 
              imgSrc="../../assets/img/t2.jpg" 
              altText="Técnicatura en Informática - E.E.S.Tec.N°2 Dr. Rene Favaloro." 
              description="Téc. Informática - EESTec.N°2">
            </app-education-item>
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
              <div class="col-span-2 md:col-span-3">
                <app-education-item 
                  href="https://egg.live/es/home" 
                  imgSrc="../../assets/img/egg.jpg" 
                  altText="Bootcamp JAVA Full Stack - EGG" 
                  description="Bootcamp JAVA Full Stack - EGG">
                </app-education-item>
                <app-education-item 
                  href="https://atl.academy/es" 
                  imgSrc="../../assets/img/atl.jpg" 
                  altText="Bootcamp JAVA - ATL Academy" 
                  description="Bootcamp JAVA - ATL Academy">
                </app-education-item>
              </div>
            </div>
          </div>
        </div>
      </div>
<div id="works" class="color1 grid grid-cols-2 gap-x-14 gap-y-8 md:grid-cols-4 lg:gap-x-8 lg:gap-y-12" style="padding-top: 50px;"> 
  <h2 class="mb-4 text-center font-bold text-gray-100 md:mb-6 lg:text-3xl">Trabajos</h2>    
</div>
<div class="color4 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      <app-work-item 
        href="#" 
        imgSrc="../../assets/img/atencionAlCliente.jpg" 
        altText="Call center - Mera Solution" 
        description="Mera Solution">
      </app-work-item>
      <app-work-item 
        href="#" 
        imgSrc="../../assets/img/IT_technician.png" 
        altText="Soporte Técnico" 
        description="Soporte técnico">
      </app-work-item>
      <app-work-item 
        href="#" 
        imgSrc="../../assets/img/network.avif" 
        altText="Network de servidores de videojuegos" 
        description="Network de servidor de videojuego">
      </app-work-item>
    </div>
  </div>
</div>

<app-footer></app-footer>
  
